.doneList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.doneList .title{
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin: 10px;
  font-weight: bold;
}