.layout{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

header{
  width: 400px;
  display: flex;
  justify-content: space-around;
}
header .link{
  width: 80px;
  text-decoration: none;
  color: #168dfd;
}

header .active {
  color: grey;
}

.link:active{
  color: #1f65a7;
}