.inputBar{
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  height: 25px;
  width: 200px;
}

button {
  width: 80px;
  height: 35px;
  font-size: 15px;
  background-color: #168dfd;
  color: white;
  border: none;
  border-radius: 3px;
  margin-left: 5px;
}

