.todoItem {
  position: relative;
  width: 600px;
  min-height: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  padding: 10px 5px 10px 5px;
  box-sizing: border-box;
  font-size: 20px;
  word-break: break-all;
  margin: 10px;
  border-radius: 5px;
  user-select: none;

  /** 出现动画 */
  animation: fade-in 0.5s ease-in-out 1;

  /* 悬浮变形 */
  transition: all;
  transition-delay: 0s;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;

}

.todoItem::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100%;
  width: 0;
  transition: all;
  transition-delay: 0s;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
}

.todoItem:hover::before {
  width: 100%;
}

.done {
  background-color: rgb(233, 233, 233);
}

.todoItem:hover {
  transform: scale(1.01);
}



.text {
  width: 100%;
  cursor: pointer;
}

.textDone {
  text-decoration: line-through;
}


.editInput {
  width: 100%;
}

img {
  height: 20px;
  width: 20px;
  cursor: pointer;
  margin-left: 10px;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}