.todoList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.todoList .title{
  width: 100%;
  text-align: center;
  font-size: 30px;
  margin: 10px;
  font-weight: bold;
}

.todoList .todoItems{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 500px;
  overflow: auto;
  border: 1px solid;
  padding: 10px;
  box-sizing: border-box;
}
